.starter {
    margin-top: 1rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
    padding: 1rem;
    border: 50px;
    border-radius: 12px;
    /* box-shadow: 1px 1px 1px 1px var(--overlay-color); */
    width: 100%;
    aspect-ratio: 1 / 1;
    margin-bottom: 2rem;
}

@media screen and (max-width: 1220px) {
    .Grid {
        gap: 1rem
    }
}

@media screen and (max-width:400px) {
    .Grid {
        gap: 0.5rem
    }
}

.ReactModal__Overlay {
    position: fixed;
    inset: 0px;
    background-color: rgba(255, 255, 255, 0.75);
    display: grid;
    place-items: center;
    opacity: 0;
    transition: opacity 300ms ease 0s;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}

.ReactModal__Content {
    position: sticky !important;
    display: grid;
    grid-template-rows: 8fr 15fr;
    background-color: var(--quinary-color) !important;
    text-align: center;
    place-items: center;
    max-width: 90%;
    min-height: 300px;
}

.btn-win {
    font-size: 20px;
    background-color: var(--secondary-color);
    color: var(--quaternary-color);
    padding: 1rem 2rem;
    border-radius: 10px;
    border: none;
    width: 100%;
    max-width: 120px;
    place-self: center;
    cursor: pointer;
}

.cols-grid {
    display: grid;
    width: 80%;
    grid-template-columns: repeat(3, 1fr);
}

.score {
    font-size: 20px;
}

@media screen and (max-width: 950px) {
    .cols-grid {
        flex-direction: column;
        align-items: center;
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
}

.col1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.col3 {
    display: flex;
    flex-direction: column;
}

.count {
    font-size: 20px;
    color: var(--tertiary-color);
}

.right-aside {
    display: flex;
}