:root {
  --primary-color: #FFFFFF;
  --secondary-color: #EAEAEC;
  --tertiary-color: #9EE6BF;
  --quaternary-color: #FE868A;
  --quinary-color: #0C516E;
  --overlay-color: rgba(254, 134, 138, 0.5);
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

html {
  font-size: 60%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(90deg, rgba(12, 81, 110, 1) 30%, rgba(158, 230, 191, 1) 100%);
  display: grid;
  place-items: center;
  font-family: 'Orbitron';
  font-size: 30px;
  text-align: center;
  color: var(--tertiary-color);
}

.App {
  display: grid;
  place-items: center;
}

h1 {
  color: var(--quinary-color);
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.75), 0 0 10px rgba(12, 81, 110, 0.75);
}

h3 {
  font-size: clamp(1.5rem, 3vw, 2.5rem);
  color: var(--quaternary-color);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3), 0 0 10px rgba(12, 81, 110, 0.75);
}

p {
  font-family: 'Press Start 2P', cursive;
  color: var(--secondary-color);
  animation: blink 1.5s linear infinite;
  font-size: 1rem;
}

.shadow-glow-text {
  color: #FFFFFF;
  text-shadow: 0 0 5px rgba(254, 134, 138, 0.75), 0 0 10px rgba(12, 81, 110, 0.75);
  font-family: 'Sigmar One', cursive;
}